<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#a52a2a">
<form action="./display" method="get">
    Enter table no:<input type="text" name="t1"><br>
    UpTo:<select name="t2">
    <option selected=""value="Default">(please select a number)</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    </select><br>
    <input type="submit" value="display table">
 </form>
</body>
</html>